@charset "UTF-8";
/* em HTML id em css é # -> Um elemento 
   

   em HTML class em css é . -> Mais de um elemento*/
body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2{
    color: rgb(51, 77, 49);
}
.basico{
    color: rgb(7, 109, 7);

}
.intermediario{
    color: rgb(154, 154, 4);
    

}
.avancado{
    color: rgb(152, 2, 2);

}
.destaque{
    background-color: rgba(245, 245, 10, 0.674);
}