@charset "UTF-8";
*{
   /* height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #f1dbc9, #f2c347);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(93, 76, 30, 0.611);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(153, 92, 7, 0.94);
}
h2{
    color: #125189;
}
p{
    text-align: justify;
}